PORT=3000
DB_HOST=localhost
DB_PASSWORD=joram18
DB_USER=postgres
DB_NAME=ShieldMe
DB_PORT=5432
JWT_SECRET=ma_super_cle_secrete_pour_shieldme_2024_123456789
JWT_EXPIRES_IN=30d
OTP_EXPIRES_MINUTES=5
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password